@if (TempData["Message"] != null)
{
    <p>@TempData["Message"]</p>
}

<h1>List Question</h1>
<a asp-controller="Question" asp-action="Add">Add New Question</a>
<table class="table">
    <tr>
        <th>ExamId</th>
        <th>PaperNo</th>
        <th>QuestionId</th>
        <th>QuestionName</th>
        <th>Mark</th>
        <th></th>
    </tr>
    @foreach (var a in ViewBag.exams)
    {
        var temp = 0;
        @foreach (var i in a.Value)
        {
            var rowspan = a.Value.Count + i.Value.Count;

            @foreach(var b in i.Value)
            {
                if (i.Value.IndexOf(b) == 0)
                {
                    <tr>
                        @if (temp == 0)
                        {
                            <td style="text-align: center;vertical-align: middle;" 
                                rowspan="@rowspan">@a.Key</td>
                            temp = 1;
                        }

                        <td style="text-align: center;vertical-align: middle;"
                            rowspan="@i.Value.Count">@i.Key</td>
                        <td>@b.QuestionId</td>
                        <td>@b.QuestionName</td>
                        <td>@b.Mark</td>
                        <td>
                            <a asp-controller="Exam" asp-action="Edit" asp-route-id="@b.QuestionId" >Edit</a>
                            <a asp-controller="Exam" asp-action="Delete" asp-route-id="@b.QuestionId" >Delete</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@b.QuestionId</td>
                        <td>@b.QuestionName</td>
                        <td>@b.Mark</td>
                        <td>
                            <a asp-controller="Exam" asp-action="Edit" asp-route-id="@b.QuestionId">Edit</a>
                            <a asp-controller="Exam" asp-action="Delete" asp-route-id="@b.QuestionId">Delete</a>
                        </td>
                    </tr>
                }
            }

    }
    }


</table>
