@if (TempData["Message"] != null)
{
    <p>@TempData["Message"]</p>
}

<h1>List Exam</h1>
<a asp-controller="ExamClient" asp-action="Add">Add New Exam</a>
<table class="table">
    <tr>
        <th>ExamId</th>
        <th>PaperNo</th>
        <th>ExamName</th>
        <th></th>
    </tr>
    @foreach (var a in ViewBag.exams)
    {
        @if(a.Value.Count > 1)
        {
            @foreach(var i in a.Value)
            {
                if(a.Value.IndexOf(i) == 0)
                {
                    <tr>
                        <td style="vertical-align: middle;" 
                            rowspan="@a.Value.Count">@a.Key</td>
                        <td>@i.PaperNo</td>
                        <td>@i.ExamName</td>
                        <td>
                            <a asp-controller="ExamClient" asp-action="Edit" asp-route-id="@a.Key" asp-route-paperNo="@i.PaperNo">Edit</a>
                            <a asp-controller="ExamClient" asp-action="Delete" asp-route-id="@a.Key" asp-route-paperNo="@i.PaperNo">Delete</a>
                        </td>
                    </tr>
                }else{
                    <tr>
                        <td>@i.PaperNo</td>
                        <td>@i.ExamName</td>
                        <td>
                            <a asp-controller="ExamClient" asp-action="Edit" asp-route-id="@a.Key" asp-route-paperNo="@i.PaperNo">Edit</a>
                            <a asp-controller="ExamClient" asp-action="Delete" asp-route-id="@a.Key" asp-route-paperNo="@i.PaperNo">Delete</a>
                        </td>
                    </tr>
                }
            }

        }
        else
        {
            <tr>
                <td style="vertical-align: middle;">@a.Key</td>
                <td>@a.Value[0].PaperNo</td>
                <td>@a.Value[0].ExamName</td>
                <td>
                    <a asp-controller="ExamClient" asp-action="Edit" asp-route-id="@a.Key" asp-route-paperNo="@a.Value[0].PaperNo">Edit</a>
                    <a asp-controller="ExamClient" asp-action="Delete" asp-route-id="@a.Key" asp-route-paperNo="@a.Value[0].PaperNo">Delete</a>
                </td>
            </tr>
        }
    }
    
    
</table>
